@import "./_styles.scss";

/** container */
.ctg-root.ctg-container,
.ctg-root .ctg-container {
  padding: var(--padding-container);
  margin: var(--margin-container);
  max-width: var(--maxwidth-container);
}
.ctg-root {
  /** forms */
  .ctg-form-controls--row {
    display: flex;
  }
  .ctg-form-controls--col {
    padding-bottom: var(--paddingbottom--form-controls-col);
  }

  /** formatters */
  .ctg-formatted-date {
    font-family: var(--font-formatted-date);
  }
  .ctg-formatted-numerical {
    font-family: var(--font-formatted-numerical);
  }

  /** signals */
  .ctg-general-yes.ctg-general-yes {
    background-color: var(--color-general--yes);
    color: var(--color-WHITE2);
  }

  .ctg-general-no.ctg-general-no {
    background-color: var(--color-general--no);
    color: var(--color-WHITE2);
  }

  .ctg-note {
    color: var(--color-note);
    border-left: 0.5rem solid var(--color-LIGHT_BLUE);
    padding: 0.2rem 0 0.2rem 0.5rem;
    background-color: var(--bgcolor-note);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  .ctg-note--info {
    @extend .ctg-note;
    border-left-color: var(--color-LIGHT_GREEN);
  }
  .ctg-note--warn {
    @extend .ctg-note;
    border-left-color: var(--color-general--warn);
  }
  .ctg-note--error {
    @extend .ctg-note;
    border-left-color: var(--color-general--no);
  }
}
