.ctg-root {
  label {
    display: block;
    margin: var(--margin-label);
    padding: var(--padding-label);
  }

  label > input[type="text"] {
    display: block;
    margin-top: var(--margintop--input-text);
    padding: var(--input-text-padding);
  }

  label > textarea {
    display: block;
    margin-top: var(--margintop--textarea);
    padding: var(--textarea-padding);
    border-radius: var(--border-radius);
  }

  label > input[type="checkbox"] {
    margin-right: var(--marginright--checkbox);
    transform: var(--transform--checkbox);
  }

  label > input[type="radio"] {
    margin-right: var(--marginright--radio);
    transform: var(--transform--radio);
  }

  label > select {
    display: block;
    margin-top: var(--margintop--select);
    padding: var(--padding--select);
    border-radius: var(--border-radius);
  }

  input[type="submit"],
  button[type="button"],
  button[type="submit"] {
    border: 0;
    margin: var(--margin-button);
    padding: var(--padding-button);
    background-color: var(--color-BLUE);
    color: var(--color-WHITE2);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--button-boxshadow--off);
    transition: var(--button-boxshadow-transition);
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button[type="button"]:hover,
  button[type="button"]:focus,
  button[type="submit"]:hover,
  button[type="submit"]:focus {
    box-shadow: var(--button-boxshadow--on);
  }
}
