.ctg-root,
.ctg-root * {
  box-sizing: border-box;
}

.ctg-root {
  margin: 0;

  h1,
  h2,
  h3,
  h4 {
    margin: var(--margin--headings);
  }
  h2 {
    font-size: 1.3em;
  }

  ul,
  ol {
    margin-top: 0;
    padding: 0;
    list-style-position: inside;
  }
}
