---
import Layout from "../layouts/main.astro";
import Example from "../components/Example.astro";
import Explanation from "../components/Explanation.astro";
import Content from "../components/Content.astro";
---

<Layout useCTG="light">
  <h1>Examples</h1>

  (<a href="/">See dark mode</a>)

  <Content />

</Layout>
