---
const { title, anchor } = Astro.props;
---
<link rel="stylesheet" href="/styles/example-styles.scss">

<div class="example-section">
    <div class="heading">
        <h1 id={anchor}>{title}</h1>
        <a href="#top">To the top</a>
    </div>
    <div class="wrap">
        <div class="description">
            <slot name="description" />
        </div>

        
        <div class="example">
            <h2>Examples</h2>
            <slot />
        </div>
    </div>    
</div>

