---
import Layout from "../../layouts/main.astro";
import Content2 from "../../components/Content2.astro";
---

<Layout useCTG={ true } theme="dark">


    <Content2>
        Try <a href="/examples/theme-light">light mode</a>.
    </Content2>

</Layout>
