---
import Layout from "../../layouts/main.astro";
import Content from "../../components/Content.astro";
---

<Layout useCTG={ true } theme="dark">


    <Content>
        Try <a href="/examples/theme-light">light mode</a>.
    </Content>

</Layout>
