---
import Layout from "../../layouts/main.astro";
import Content from "../../components/Content.astro";
---

<Layout useCTG={ true } theme="light">

    <Content>
        Try <a href="/examples">dark mode</a>.
    </Content>

</Layout>
