---
import Layout from "../../layouts/main.astro";
import Content2 from "../../components/Content2.astro";
---

<Layout useCTG={ true } theme="light">

    <Content2>
        Try <a href="/examples">dark mode</a>.
    </Content2>

</Layout>
