@import url("_variables.css");
@import url("_reset.css");
@import url("_basic-elements.css");

@import url("_links.css");
@import url("_lists.css");
@import url("_forms.css");

@import url("_utility-styles/index.css");

.ctg-root {
  font-family: var(--font-main);
  background-color: var(--color-background-main);
  color: var(--color-text-main);
}
